h1 {
    background-color: rgb(196, 138, 63);
    width:280px;
    
}

p {
    margin-left: 30px;
}

body {
    background-color: burlywood;
}

#timer {
    background-color: cornsilk;
    width: 60px;
    margin-left: 30px;

}

#imarge-place {
    height:180px;
    margin-left: 200px;
}

